<!DOCTYPE html>
<html>
<head>
  <title>Faq</title>
  <%= stylesheet_link_tag    "faq/application", :media => "all" %>
  <%= javascript_include_tag "faq/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
